@font-face {
  font-family: 'TTLakes';
  src: url('../font/TTLakes-Regular.ttf');
}

@font-face {
  font-family: 'TTLakes bold';
  src: url('../font/TTLakes-Bold.ttf');
}

@font-face {
  font-family: 'TTLakes medium';
  src: url('../font/TTLakes-Medium.ttf');
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'TTLakes';
}

a{
  text-decoration: none;
  color: #1B1C21;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
  font-family: "TTLakes medium"; 
}

button{
  background: transparent;
  border: none;
}

h1{
  font-family: 'TTLakes bold';
}

.btn{
  background: #FF3E79;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  transition: .2s;
  cursor: pointer;
}

.icon{
  margin-top: 50%;
  transform: translateY(-50%);
}

.header{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__text{
  margin-left: 20px;
}

.header__logo, .header__links{
  display: flex;
  align-items: center;
}

.header__links .btn{
  margin-right: 16px;
}

.btn:last-child{
  margin-right: 0;
}

.header__img{
  margin-left:16px;
  display: flex;
  align-items: center;
}
.header__img img{
  cursor: pointer;
}
.header__img::after{
  content: "";
  display: block;
  background: #EAEAEA;
  width: 2px;
  height: 32px;
  border-radius: 1px;
  margin-left: 16px;
}

.header__desktop{
  display: none;
  align-items: center;
}

.main{
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__links{
  width: 100%;
  padding:24px 0;
}

.main__reviews{
  display: none;
}

.main__nav{
  display: none;
}

.main_h1{
  font-size: clamp(1.25rem, 2.5vw, 2rem);;
  display: flex;
  align-items: center;
}

.main_h1::before{
  content: "";
  display: block;
  border-radius: 5px;
  width: 4px;
  height: 40px;
  background: #41F6D7;
  margin-right: 15px;
}

.main__scroll-menu{
  display: flex;
  align-items: center;
  overflow-x: scroll;
  margin-bottom: 24px;
  width: 100%;
}

.scroll-menu_a{
  color:#7E7E82;
  white-space: nowrap;
  border-radius: 6px;
  padding: 6px 20px;
  margin: 2px;
}

.scroll-menu_a:focus{
  outline: 2px solid #B8FFEC;
  background: #fff;
}

.main__text_p{
  font-size: 14px;
  letter-spacing: 0.2px;
}

.main__text_p:first-child{
  margin-bottom: 25px;
}

.expand{
  display: flex;
  font-weight: 700;
  margin: 16px 0;
  cursor: pointer;
}

.expand img{
  margin-right:8px;
}

.main__image img{
  width: 100%;
}


.wh-768, .wh-1120{
  display: none;
}

@media (min-width:768px){
    
    .header__img::after{
      display: none;
    }
    
    .main {
      align-items: flex-start;
    }
    
    .header__img::before{
      content: "";
      display: block;
      background: #EAEAEA;
      width: 2px;
      height: 32px;
    
      border-radius: 1px;
      margin-right: 16px;
    }
    
    .header__desktop{
      display: flex;
    }

    .main__text {
      width: 50%;
    }
    
    .header__desktop:after{
      content: "";
      display: block;
      background: #EAEAEA;
      width: 2px;
      height: 32px;
    
      border-radius: 1px;
      margin: 0 20px;
    }
  
    .main__content{
      display: flex;
      justify-content: space-between;
    }
    
    .block-info{
        width: 50%;
        margin-left: 20px;
    }
    
    .wh-768{
      display: block;
    }
  }
  
  @media (min-width:1120px){
    
    .header{
      display: none;
    }
    
    .main {
      align-items: center;
    }
    
    .main__links{
      width: 1120px;
      display: flex;
      justify-content:space-between;
    }
    
    .main__nav{
      display: flex;
      align-items: center;
    }
    
    .main__nav_a{
      display: flex;
      align-items: center;
    }
    
    .main__nav_a:last-child{
      margin: 0px 30px;
    }
    
    .main__nav_a .btn{
      margin-left: 8px;
    }

    .main__reviews_p{
      color: #7E7E82;
      font-size: 16px;
      font-family: "TTLakes";
      font-weight: 500;
      line-height: 24px;
      word-wrap: break-word;
      margin-left: 40px;
    }
    
    .wh-1120{
      display: block;
    }
    
    .main__scroll-menu {
      margin-bottom: 0px;
    }
    
    .main__content{
      width: 1120px;
    }
    
    .main__image img{
      width: 530px;
    }

    .main__reviews{
      display: block;
      width: 1120px;
      margin: 10px 0px 20px 0px;
    }
    
    .main__scroll-menu{
      width: 1120px;
      overflow-x: auto;
    }
  }